body {
    background-image: url("free-stock-food-photography-websites.jpg");
    background-color: brown;
   }

   h1{
      color: aqua
   }
   table{
       height: 100;
       width: 100;
   }
div{
    color: red
}
button{
    color: blue
}